body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


tableBox {
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}


#addbutton{
    text-align: center;
    margin: 20px;
}

.red{
    border: solid;
    border-width: 5px;
    border-color: red;
}

.orange{
    border: solid;
    border-width: 5px;
    border-color: orange;
}

.yellow{
    border: solid;
    border-width: 5px;
    border-color: yellow;
}

.global{
    border: solid;
    margin-bottom: 10px;
}

.head{
}